APP_ENV=development

SERVER_HOST=0.0.0.0
SERVER_PORT=8080
SERVER_SHUTDOWN_TIMEOUT=10s

DB_HOST=localhost
DB_PORT=5434
DB_USER=gophprofile
DB_PASSWORD=gophprofile
DB_NAME=gophprofile
DB_SSLMODE=disable

MIGRATIONS_PATH=migrations
